@charset "utf-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/* -------------------- Clear style ---------------------*/

:root {
  --header-bg-light-color: rgb(255, 255, 255);
  --header-bg-dark-color: rgb(57, 58, 95);
  --applicant-requisites-color: rgb(224, 224, 230);
  --applicant-position-color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'Arial';
  src: url('../font/Arial.ttf') format('truetype');
  /* You can specify other font formats here, such as woff or woff2 */
}

body {
  /*font-family: 'Ubuntu Mono', monospace;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  font-family: 'Arial', sans-serif;
}

.container {
  position: relative;
  top: -10mm;
}

.uppercase {
  text-transform: uppercase;
}

.container-marker {
  width: 210mm;
  height: 297mm;
  margin: 20mm;
  padding: 10mm 10mm 10mm 25mm;
  font-size: 12px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
}

.container-marker {
  width: 210mm;
  height: 297mm;
  margin: 20mm;
  padding: 5mm 5mm 5mm 20mm;
  font-size: 12px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 5mm;
}
.applicant-name {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 50%;
  height:20mm;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10mm;
  text-transform: uppercase;
  background-color: var(--header-bg-light-color);
  border: 3px solid var(--header-bg-dark-color);
  border-bottom: none;
}

.applicant-position {
  /*font-family: 'Titillium Web', sans-serif;*/
  /*font-family: 'Ubuntu Mono', monospace;*/
  font-size: 20px;
  width: 100%;
  height:20mm;
  padding-top: 12mm;;
  color: var(--applicant-position-color);
  background-color: var(--header-bg-dark-color);
  text-align: center;
}

.applicant-requisites {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 16mm;
  max-height: 6mm;
  background-color: var(--applicant-requisites-color);
  text-align: center;
  display: flex;
  flex-direction: row;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}

.applicant-requisites ul {
  display: flex;
  list-style: none; 
  padding: 0; 
}

.applicant-requisites li {
  margin-right: 10px; 
}

.left-col-header {
  font-weight: 700;
}

.category-container {
  margin-top: 2mm;
  display: flex;
  flex-direction: row;
}

.left-col-header {
  flex: 0 0 100px;
}

.right-col-body {
  text-align: justify;
}

.edu-company {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-weight: 700;
}
.education-row {
  display: flex;
}

.date-end {
  flex: 0 0 130px;
}

.languages-body ul{
  display: flex;
  flex-direction: row;
}

.languages-body li{
  margin-left: 10px;
}