<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Pattaya&family=Ubuntu+Mono:wght@400;700&display=swap"
    rel="stylesheet">


  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="container-marker">
    <div class="container">
      <header>
        <div class="applicant-name">Pierre Delattre</div>
        <div class="applicant-position">Web-developer</div>
        <div class="applicant-requisites">
          <ul>
            <li>France, Paris</li>
            <li>name@example.com</li>
            <li>+12 (345) 678-91-23</li>
            <li><a href="http://linkedin.com">Linkedin</a></li>
          </ul>
        </div>
      </header>
      <main>
        <div class="category-container">
          <div class="left-col-header uppercase">About Me</div>
          <div class="right-col-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim earum quisquam
            itaque sunt asperiores dolores sint cum, harum nobis quasi perferendis incidunt neque quibusdam nulla?
            Molestias quaerat cumque fugit!
            Commodi sunt nulla distinctio facilis, esse maxime voluptatibus odit error reiciendis voluptatum accusamus
            recusandae eaque sint velit porro! Dolorem, cum amet. Quas totam ad id voluptatum quod deserunt ab aperiam!
            Natus, a quae? Natus et tempore sint fugit saepe eveniet itaque, suscipit tempora ea, praesentium
            exercitationem perferendis blanditiis quibusdam mollitia, nam magnam ad! Voluptatum rem itaque natus
            doloremque, perferendis voluptas.
          </div>
        </div>
        <div class="category-container">
          <div class="left-col-header uppercase">Experience</div>
          <div class="right-col-body">
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora velit quae mollitia dolor vitae
                provident
                veritatis quos ipsam dolore sapiente? Assumenda accusamus sequi consectetur eaque. Tenetur quidem nobis
                animi non.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, soluta inventore voluptatem ducimus
                eum
                quia vel. Mollitia ratione velit quos amet! At voluptatem aut quisquam tempora error ipsa ut voluptates!
              </li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum quas dolor tempora blanditiis,
                explicabo
                vero laudantium debitis sapiente natus eligendi voluptate totam voluptates veniam, pariatur aut
                quibusdam
                ducimus magni? Maxime.</li>
              <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis veniam autem optio odio
                nisi
                incidunt aut, eaque harum sit cum voluptate dolorum quas. Aut id dicta vero nisi eveniet?
                Voluptates animi voluptatum in optio quas reiciendis, porro officiis, dolore quae beatae impedit non
                atque
                voluptatibus? Rem doloremque facilis voluptatem dolore, velit molestias error eveniet, consequuntur unde
                eos
                dignissimos molestiae!
                Consectetur obcaecati nisi deleniti recusandae, veritatis nostrum cupiditate illum ullam reprehenderit
                repellendus? Possimus deserunt eum porro, iusto cum nobis magni dolorum laudantium provident quo
                quisquam,
                quis odit impedit nulla rem.
                Id architecto consectetur, nulla assumenda nam impedit voluptatum explicabo? Laudantium excepturi
                temporibus
                ipsa rerum, pariatur esse similique, voluptatem quibusdam a ducimus adipisci id eum? Explicabo laborum
                distinctio rem id nisi!
                Et magnam sint dolor quisquam, aliquid quo, laudantium nihil laboriosam, quibusdam ut pariatur voluptate
                dicta tempora. Voluptatibus ullam dolorem autem odit quod hic omnis veritatis voluptates adipisci
                necessitatibus. Delectus, assumenda.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolores aliquam enim quidem eius. Nulla
                doloremque laudantium voluptates voluptatum accusantium. Impedit, exercitationem illo laboriosam natus
                ipsam
                atque ducimus debitis nemo?
                Veniam, architecto aut. Sunt aut in sapiente, ipsum aliquid maiores rem obcaecati eligendi quibusdam
                libero
                perferendis nesciunt, accusamus qui. Amet reiciendis architecto quia provident exercitationem saepe
                ducimus,
                est aspernatur magni.
                Animi molestias hic quia magnam iure deleniti eos sunt omnis minima itaque? Cupiditate temporibus dicta
                quae
                nesciunt ex quia ad praesentium veritatis suscipit. Nihil facere impedit quo ratione! Officiis, magni!
              </li>
            </ul>
          </div>
        </div>
        <div class="category-container">
          <div class="left-col-header uppercase">Employment history</div>
          <div class="right-col-body">



            <ul>
              <li>
                <div class="emp-company">
                  <div class="company-name uppercase">Company name</div>
                  <div class="emp-row">
                    <div class="emp-date"><span class="emp-date-start">November 17, 2022</span> - <span class="emp-date-end">November 17, 2022</span></div>
                    <div class="emp-descr">
                      <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel neque quos cumque consectetur voluptatum culpa asperiores tenetur saepe deleniti! Deserunt veniam quod voluptatibus, amet quidem perspiciatis molestias laborum qui quos?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel neque quos cumque consectetur voluptatum culpa asperiores tenetur saepe deleniti! Deserunt veniam quod voluptatibus, amet quidem perspiciatis molestias laborum qui quos?</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="emp-company">
                  <div class="company-name uppercase">Company name</div>
                  <div class="emp-row">
                    <div class="emp-date"><span class="emp-date-start">November 17, 2022</span> - <span class="emp-date-end">November 17, 2022</span></div>
                    <div class="emp-descr">
                      <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel neque quos cumque consectetur voluptatum culpa asperiores tenetur saepe deleniti! Deserunt veniam quod voluptatibus, amet quidem perspiciatis molestias laborum qui quos?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel neque quos cumque consectetur voluptatum culpa asperiores tenetur saepe deleniti! Deserunt veniam quod voluptatibus, amet quidem perspiciatis molestias laborum qui quos?</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>




          </div>
        </div>
        <div class="category-container">
          <div class="left-col-header uppercase">Education</div>
          <div class="right-col-body">
            <ul>
              <li>
                <div class="edu-company">
                  <div class="company-name">NAME OF UNIVERSITY</div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="edu-company">
                  <div class="company-name">NAME OF UNIVERSITY</div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="edu-company">
                  <div class="company-name">NAME OF UNIVERSITY</div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="edu-company">
                  <div class="company-name">NAME OF UNIVERSITY</div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="edu-company">
                  <div class="company-name">NAME OF UNIVERSITY</div>
                  <div class="education-row">
                    <div class="date-end">November 17, 2022</div>
                    <div class="degree-name">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ad officia sunt dignissimos delectus maiores.</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="category-container">
          <div class="left-col-header uppercase">Languages</div>
          <div class="languages-body">
            <ul>
              <li><span class="lang-name">English</span> <span class="lang-level">(Intermediate)</span></li>
              <li><span class="lang-name">Franch</span> <span class="lang-level">(Native)</span></li>
              <li><span class="lang-name">Germany</span> <span class="lang-level">(Proficiency)</span></li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>